/* Background */

body{
    background:#f5f7fb;
}

/* Main Container */

.create-container{

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:80vh;

    animation:fadeIn 1s;
}

/* Card */

.employee-card{

    width:700px;

    border:none;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 15px 45px rgba(0,0,0,.15);

    transition:.4s;
}

.employee-card:hover{

    transform:translateY(-8px);

    box-shadow:0 25px 55px rgba(0,0,0,.20);

}

/* Header */

.card-header{

    background:linear-gradient(135deg,#0d6efd,#4f8cff);

    color:white;

    text-align:center;

    padding:35px;
}

/* Circle */

.icon-circle{

    width:80px;

    height:80px;

    margin:auto;

    border-radius:50%;

    background:white;

    color:#0d6efd;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:38px;

    margin-bottom:15px;

    animation:float 3s infinite;
}

.card-header h2{

    font-weight:bold;

    margin-bottom:10px;
}

.card-header p{

    opacity:.9;
}

/* Body */

.card-body{

    padding:35px;
}

/* Label */

.form-group-custom{

    display:block;

    margin-bottom:22px;
}

.form-group-custom label{

    font-weight:600;

    margin-bottom:8px;

    display:block;
}

/* Inputs */

.form-control{

    height:52px;

    border-radius:12px;

    transition:.4s;
}

.form-control:focus{

    border-color:#0d6efd;

    box-shadow:0 0 12px rgba(13,110,253,.35);

    transform:scale(1.02);
}

/* Button */

.btn-create{

    width:100%;

    height:55px;

    border:none;

    border-radius:12px;

    background:linear-gradient(135deg,#198754,#28c76f);

    color:white;

    font-size:20px;

    font-weight:bold;

    transition:.35s;
}

.btn-create:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 25px rgba(25,135,84,.35);
}

/* Animation */

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(30px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}

@keyframes float{

    0%{

        transform:translateY(0);
    }

    50%{

        transform:translateY(-8px);
    }

    100%{

        transform:translateY(0);
    }
}